*{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.paragraph{
  color:  #727272;
  font-size: 16px;
}
.btn-primary{
  width: 11.2rem;
  height: 4rem;
  border-radius: 0.8rem;
  background: #FF900E;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

/* ////////////////// */


header{
  background-color:rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav >ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;

}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--dark-01, #131313);
}
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;

}
.banner-title{
  color: var(--dark-01, #131313);
  font-size: 4rem;
  font-weight: 700;
}
.banner-description{
  color: #727272;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 32px;
}
.banner img{
  width: 100%;
  margin-top: 50px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
.team{
  display: flex;
  gap: 5rem;
}
.s1-pic{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 85px;
}
.s1-pic img{
  width: 100%;
}
.s1-text{
  margin: auto 0;
}
.s1-title{
  font-size: 45px;
  color: #727272;
  font-weight: 500;
}
.s1-desciption{
  margin-bottom: 40px;
  max-width: 537px;
}

/* ////////////////// */

.Features{
  margin-top: 130px;
  display: flex;
}
.s2-cards{
  margin-top: 0;
  margin-right: 3.7rem;
}
.s2-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  border-left: .28rem solid #FF900E;
  padding: 1.4rem;
}
.s2-description{}
.s2-cards> .card{
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.s2-pic{
}
.s2-pic img{
  height: 90%;
  margin-left: 80px;
}
.s2-pic-box{
  background-color: #FF900E;
  border-radius: 8px;
  border: 0;
  color: #fff;
  position: relative;
  max-width: 340px;
  bottom: 100px;
  text-align: center;
  padding: 2.7rem;
}
.s2-pic-box h2{
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}
.s2-pic-box p{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

/* ///////////////////////// */

.Facts{
  margin-top: 160px;
  padding: 0;
}
.s3-h2{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.s3-p{
  max-width: 542px;
}
.s3-cards{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.s3-card{
  text-align: center;
  width: 220px;
  padding: 30px auto 40px;
  /* transform: rotate(90deg); */
  border-radius: 8px;
  border: 1px solid #FF900E;

}
.s3-card h2{
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
}
.s3-card p{
  font-size: 1.2rem;
  font-weight: 600;
  color: #727272;
  margin-bottom: 40px;
}
.s3-card img{
  width: 13%;
  margin-top: 30px;
}

/* ///////////////////////// */
@media screen and (max-width:576px) {
  header{
    padding: 50px 30px;
  }
  nav, .team, .Features{
    flex-direction: column;
  }
  .s1-pic{
    grid-template-columns: 1fr;
  }
  .s2-pic img{
    margin: 0.4rem;
    width: 90%;
    height: auto;
  }
  .s2-pic-box{
    position: static;
    bottom: 0;
    width: 90%;
    padding: 1.5rem;
  }
  .s2-pic-box h2{
    font-size: 3rem;
    font-weight: 600;
  }

  .s2-pic-box p{
    font-size: 1rem;
    font-weight: 400;
  }

  .s3-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }


}

@media screen and (min-width:576px) and (max-width: 960px) {
  header{
    padding: 50px;
  }
  nav,.team, .Features{
    flex-direction: column;
  }

  .s3-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

}